* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 26px;
}

a {
display: block;
  text-decoration: none;
}

.link .stores {
  margin-bottom: 10px;
}

.link .stores a:not(:last-child) {
  margin-bottom: 4px;
}
